@font-face {
  font-family: "Rodi de Asis";
  src: url("../fonts/Rodi de Asis.ttf");
}

@font-face {
  font-family: "Crosshatcher D";
  src: url("../fonts/Crosshatcher D.otf");
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Roboto,sans-serif;
	font-weight: 400;
}
.inicio{
	color: #fff;
}

.contenedor-form {
	position: relative;
	background: rgba(0,0,0,0.6);
	width: 100%;
	max-width: 500px;
	margin: 48px auto;
	color: #fff;
	border-radius: 5px;

	/*padding: 40px;*/
}

.contenedor-form .toggle{
	position: absolute;
	top:7px;
	right: 7px;
	width: 100px;
	height: 30px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border-top: 2px solid #ff851b;
	border-bottom: 2px solid #ff851b;
	transition: all .5s ease;
	cursor: pointer;

}

.contenedor-form .toggle span{
	letter-spacing: 1px;
}

.contenedor-form .toggle:hover{
	border-top: 2px solid #0075d9;
	border-bottom: 2px solid #0075d9;
}

.contenedor-form h2{
	margin: 0 0 28px 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
}

.contenedor-form input[type="text"],.contenedor-form input[type="password"]{
	outline: none;
	background:rgba(0,0,0,.5);
	display: block;
	width: 100%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #ff851b;
	font-family: Roboto;
	font-weight: normal;
	margin: 0 0 20px 0;
	transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,.contenedor-form input[type="password"]:focus{
	border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"]{
	background: #ff851b;
	color:#fff;
	border:none;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	font-family: Roboto;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover{
	background: rgba(0,117,217,0.7);
}

select{
	outline: none;
	background:rgba(0,0,0,.5);
	display: block;
	width: 60%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #ff851b;
	font-family: Roboto;
	font-weight: normal;
	margin: 0 0 20px 0;
	transition: all .5s ease;
}

select:focus{
	border-bottom: 4px solid #0075d9;
}

.contenedor-form .formulario{
	padding: 40px;
	display: none;
}

.contenedor-form .formulario:nth-child(2){
	display: block;
}

.aside{
	height:100%;
}

body {
	background:url(../imagenes/fondo2.jpg);
	background-size: 100% 100%;
	background-attachment:fixed;
}

header .logotipo img{
	display:block;/* atributo para poder centrar una imagen*/
	opacity: 1;
}

 header{
 	background:#5caceb;
 	color:#fff;
 	border-bottom:3px solid #2199e8;
	margin-bottom: 20px;


 }

footer {
 	background:#5caceb;
 	color:#fff;
 	border-top:3px solid #2199e8;
}


 .color1{
 	background: #34495e;
 	color:#fff;
 }

 aside {
 	background: rgba(255,133,27,0.8);
 	color:#fff;
	border-radius: 20px;
 }

 .galeria {
 	opacity: 0.8;
 	padding-bottom: 10px;

 }

 .carousel-inner{
 	border-radius: 30px;
 	border:1px solid #2199e8;

 }

.hola{

	border-radius: 20px;
	opacity: 0.8;

}

h1{
	font-family: "Crosshatcher D";
	font-size: 40px;
	color: #fff;
}

h3,.sub,h2{
	font-family: "Crosshatcher D";
}